@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: hsla( 0,0%,9% ,1);
  background: var(--foreground-rgb);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.css-wallet-container {
  width: 100%;
    -webkit-margin-start: auto;
    margin-inline-start: auto;
    -webkit-margin-end: auto;
    margin-inline-end: auto;
    max-width: 1440px;
    -webkit-padding-start: 1.5rem;
    padding-inline-start: 1.5rem;
    -webkit-padding-end: 1.5rem;
    padding-inline-end: 1.5rem;
    /* padding-top: 61px; */
}
@media screen and (min-width: 960px) {
  .css-wallet-container {
      -webkit-padding-start: 120px;
      padding-inline-start: 120px;
      -webkit-padding-end: 120px;
      padding-inline-end: 120px;
  }
}
@media screen and (min-width: 768px) {
  .css-wallet-container {
      -webkit-padding-start: 2.5rem;
      padding-inline-start: 2.5rem;
      -webkit-padding-end: 2.5rem;
      padding-inline-end: 2.5rem;
      /* padding-top: 110px; */
  }
}
.border-drag-gray-300 {
  border-color: rgba(235,235,235,var(--tw-border-opacity))
}

 details .summary-title {
	 user-select: none;
}

details summary:hover {
  cursor: pointer;
}
 details summary {
	 list-style: none;
}
 details summary:focus {
	 outline: none;
}
 details summary:hover .summary-chevron-up svg {
	 opacity: 1;
}
 details .summary-chevron-up svg {
	 opacity: 0.5;
}
 details .summary-chevron-up, details .summary-chevron-down {
	 pointer-events: none;
	 position: absolute;
	 top: 0.75em;
	 right: 1em;
	 background: #fff;
   color: black;
}
 details .summary-chevron-up svg, details .summary-chevron-down svg {
	 display: block;
}
 details summary::-webkit-details-marker {
	 display: none;
}
 
