@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: hsla( 0,0%,9% ,1);
  background: var(--foreground-rgb);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.border-drag-gray-300 {
  border-color: rgba(235,235,235,var(--tw-border-opacity))
}

 details .summary-title {
	 user-select: none;
}

details summary:hover {
  cursor: pointer;
}
 details summary {
	 list-style: none;
}
 details summary:focus {
	 outline: none;
}
 details summary:hover .summary-chevron-up svg {
	 opacity: 1;
}
 details .summary-chevron-up svg {
	 opacity: 0.5;
}
 details .summary-chevron-up, details .summary-chevron-down {
	 pointer-events: none;
	 position: absolute;
	 top: 0.75em;
	 right: 1em;
	 background: #fff;
   color: black;
}
 details .summary-chevron-up svg, details .summary-chevron-down svg {
	 display: block;
}
 details summary::-webkit-details-marker {
	 display: none;
}
 
